.stepper-container {
    display: flex;
    flex-direction: column;

    .stepper-header {
        display: flex;
        justify-content: space-around;

        .step {
            display: flex;
            flex-direction: column;
            align-items: center;

            .step-circle {
                border: solid 1px black;
                border-radius: 32px;
                height: 32px;
                width: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 8px;
            }

            .current {
                color: blue;
                font-weight: bold;
                border-color: blue;
            }
        }
    }
    
    .stepper-content {
        display:flex;
        height: 600px;
        width: 900px;
        max-height: 600px;
        max-width: 900px;
        justify-content: center;
        margin:30px;
        padding: 15px;
        border: 2px solid;
        align-self: center;
    }
}

