.stepper-container {
    display: flex;
    flex-direction: column;

    & .stepper-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    & .stepper-content {
        display:flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        padding: 30px;
    }


}

