.list-item-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  flex-grow:1;


  .pokemon-sprite {
    width: 50px;
    height: 50px;
  }

  .pokemon-name-container {
    flex: 1;
  }

  .pokemon-name {
    font-size: 16px;
    font-weight: bold;
  }

  .types-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .type {
    font-size: 14px;
    color: #666;
    margin-bottom: 2px;
    /* Adds space between additional labels */
  }
}

.list-item-container.selected {
  border: 2px solid blue;
}