.pokemon-team-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: row;
    width: 100%;
    gap: 5px;

    .grid-item {
        display: flex;
        height: 75px;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        background-color: white;
        position:relative;

        .delete-button {
            position: absolute;
            top:0px;
            right:0px;
        }
    }

    .grid-item.empty {
        border: 1px solid #ececec;
        color: #ececec;
    }

}