.team-selection {

    display: flex;
    flex-direction: column;
    width: inherit;
    max-width: inherit;

    .list-details-row {
        display: flex;
        flex-direction: row;
        width: inherit;
        max-width: inherit;
        overflow: hidden;

        .pokemon-list {

            flex: 1;
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            margin-right: 5px;


            .list-container {
                display: flex;
                flex-direction: column;
                overflow: hidden;
            }

            .tab-container {
                display: flex;
                margin-bottom: 10px;
                flex-wrap: wrap;

                .tab {
                    background-color: #f1f1f1;
                    border: 1px solid #ccc;
                    flex-basis: 70px;

                }

                .active {
                    background-color: #4CAF50;
                    color: white;
                }

            }
        }

        .details-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 1px solid #ccc;
            margin-left: 5px

        }
    }

    .team-container {
        margin-top: 10px;
        padding: 10px;
        border: 1px solid gray;
    }



}

.error {
    color: red;
}